<!DOCTYPE html>
<html>
<head>
    <title>
        About Us
    </title>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
    <div class="card mb-4">
        <div class="card-header">Contact Information</div>
        <div class="card-body">
            <h5 class="card-title">Contact Information</h5>
            <p class="card-text"> Welcome to CAR PROJECT DH dealership, home to the CAR PROJECT DH in North America. We sell
                domestic and imported cars at reasonable prices.
            </p>
        </div>
    </div>
</div>
</body>
</html>
